# Indian Premier League 2008-2017 EDA

Importing the required libraries for EDA

This Python 3 environment comes with many helpful analytics libraries installed.
For example, here's several helpful packages to load

In [1]:
import pandas as pd   # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np    # linear algebra
import os

Mount the drive to load the dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#1.Loading the first dataset into the data frame for Indian premier league

In [3]:
deliveries_df = pd.read_csv('/content/drive/MyDrive/IPL_2008_2017_deliveries.csv')
deliveries_df.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

1.1. Checking the data types of the columns.

In [5]:
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

**1.2. Dropping the columns with missing or null values**

In [6]:
deliveries_df = deliveries_df.drop(['player_dismissed','dismissal_kind','fielder'], axis=1,errors='ignore' )
deliveries_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs'],
      dtype='object')

**1.3. Statistics**

In [8]:
deliveries_df.describe()

            match_id         inning  ...     extra_runs     total_runs
count  150460.000000  150460.000000  ...  150460.000000  150460.000000
mean      318.281317       1.482188  ...       0.069022       1.291466
std       182.955531       0.501768  ...       0.349667       1.583240
min         1.000000       1.000000  ...       0.000000       0.000000
25%       161.000000       1.000000  ...       0.000000       0.000000
50%       319.000000       1.000000  ...       0.000000       1.000000
75%       476.000000       2.000000  ...       0.000000       1.000000
max       636.000000       4.000000  ...       7.000000       7.000000

[8 rows x 13 columns]

## 2. Loading second dataset for IPL

In [9]:
matches_df = pd.read_csv('/content/drive/MyDrive/IPL_2008_2017_matches.csv')
matches_df.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

**2.1 Check the column datatype**

In [10]:
matches_df.dtypes

id                   int64
season               int64
city                object
date                object
team1               object
team2               object
toss_winner         object
toss_decision       object
result              object
dl_applied           int64
winner              object
win_by_runs          int64
win_by_wickets       int64
player_of_match     object
venue               object
umpire1             object
umpire2             object
umpire3            float64
dtype: object

**2.2 Count of the rows and columns**

In [11]:
matches_df.shape

(636, 18)

**2.3 Check the null values**

In [12]:
print(matches_df.isnull().sum())

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

**2.4 Removing columns with highest null or missing values**

In [13]:
matches_df = matches_df.drop(['umpire1','umpire2','umpire3'], axis=1,errors='ignore' )
matches_df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue'],
      dtype='object')

In [14]:
matches_df.season.unique()

array([2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [15]:
matches_df.team1.unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

**2.5 Data correction for the items in the column**

In [16]:
def name_corrections(cols):
    teamName=cols[0]
    if teamName=='Rising Pune Supergiant':
        teamName='Rising Pune Supergiants'
    return teamName

In [17]:
matches_df['team1']=matches_df[['team1']].apply(name_corrections,axis=1)
matches_df['team2']=matches_df[['team2']].apply(name_corrections,axis=1)
matches_df['winner']=matches_df[['winner']].apply(name_corrections,axis=1)
matches_df['toss_winner']=matches_df[['toss_winner']].apply(name_corrections,axis=1)

To validate the final unique columns

In [18]:
matches_df.team1.unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors'], dtype=object)

In [19]:
matches_df.count()

id                 636
season             636
city               629
date               636
team1              636
team2              636
toss_winner        636
toss_decision      636
result             636
dl_applied         636
winner             633
win_by_runs        636
win_by_wickets     636
player_of_match    633
venue              636
dtype: int64

In [20]:
deliveries_df.count()

match_id         150460
inning           150460
batting_team     150460
bowling_team     150460
over             150460
ball             150460
batsman          150460
non_striker      150460
bowler           150460
is_super_over    150460
wide_runs        150460
bye_runs         150460
legbye_runs      150460
noball_runs      150460
penalty_runs     150460
batsman_runs     150460
extra_runs       150460
total_runs       150460
dtype: int64

#3. Export Pandas DataFrame to a CSV File

In [21]:
matches_df.to_csv(r'Matches.csv', index= False)
deliveries_df.to_csv(r'Deliveries.csv', index= False)